
// FLEX
@mixin flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-row-center-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
  @mixin flex-row-center-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  
  @mixin flex-row-center-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  
  @mixin flex-row-center-baseline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  
  @mixin flex-row-space-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-row-space-between-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  @mixin flex-row-space-between-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  @mixin flex-row-space-between-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  
  @mixin flex-row-space-between-baseline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  
  @mixin flex-row-space-around-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  @mixin flex-row-space-around-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  @mixin flex-row-space-around-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  @mixin flex-row-space-around-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
  
  @mixin flex-row-space-around-baseline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  
  // Repeat similar combinations for column direction
  @mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column-center-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  @mixin flex-column-center-flex-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  @mixin flex-column-center-stretch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  
  @mixin flex-column-center-baseline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  
  @mixin flex-column-space-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-column-space-between-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  @mixin flex-column-space-between-flex-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  @mixin flex-column-space-between-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  
  @mixin flex-column-space-between-baseline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }
  
  @mixin flex-column-space-around-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  @mixin flex-column-space-around-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  @mixin flex-column-space-around-flex-end {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  @mixin flex-column-space-around-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }
  
  @mixin flex-column-space-around-baseline {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
  }
  