@use '../abstracts/mixins/flex' as *;
@use '../abstracts/mixins/respond' as *;

.wrap-header {
    width: 95%;
    height: 4rem;
    padding: 0.5rem;
    @include flex-row-space-between-center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.211);
    position: relative;
}

.search-bar {
    @include flex-row-center-center;
    background-color: white;
    padding: 0.8rem 1.1rem;
    width: 50%;
    border-radius: 100px;
}

.search-bar input {
    outline: none;
    border: none;
    width: 100%;
}

.wrap-action-header {
    @include flex-row-center-center;
    gap: 1.5rem;
    cursor: pointer;
}

.announcement-svg, .theme-svg {
    @include flex-row-center-center;
}

.announcement-svg svg,
.theme-svg svg {
    color: rgb(121, 121, 121);
    font-size: 1.1rem;
}

.admin-avatar {
    @include flex-row-center-center;
    gap: 0.5rem;
}

.admin-avatar p {
    cursor: pointer;
}

.admin-avatar img {
    border-radius: 100%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}

.admin-drop-down-menu {
    position: absolute;
    min-width: 150px;
    height: 0px;
    top: 5rem;
    right: 2%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.ad-drop-down-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    gap: 0.5rem;
}

.admin-drop-down-menu.open {
    height: 140px;
}

.admin-drop-down-menu p {
    font-size: 0.8rem;
    font-style: italic;
    color: gray;
}

.admin-drop-down-menu a {
    font-size: 0.8rem;
    color: rgb(0, 142, 75);
    font-weight: bold;
}

.showSidebar {
    display: none;
    @include respond(tablet) {
        display: block;
    }
    @include respond(phone) {
        display: block;
    }
}